/* ————— NAVBAR ————— */
.navbar {
    background-color: #d60000 !important;
}


#btn-option {
    background-color: white;
    border-radius: 18px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: .2s;
}

#btn-option:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 16px rgba(0,0,0,0.15);
}
#red{
    width: 50px;
    height: 50px;
}
#caracoles{
    width: 800px;
    height: auto;
}

/* 
       */