.card {
    border-radius: 14px;
}

.card h5 {
    font-size: 1.1rem;
}

.card button {
    background: #000;
    border: none;
    transition: 0.2s;
}

.card button:hover {
    background: #333;
    transform: scale(1.02);
}
.header-red {
    background-color: #d60000 !important;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}